!!! 5
html
  head
    title Bootstrap 101 Template
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap
    //- link(href='css/bootstrap.min.css', rel='stylesheet')

  body
    block content

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://code.jquery.com/jquery.js')
    //- // Include all compiled plugins (below), or include individual files as needed
    //- script(src='js/bootstrap.min.js')
